<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div>
    <h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>
    <h2>마이 페이지</h2>
    <div>
        <div th:text="|ID : ${email}|"></div>
        <div th:text="|이름 : ${name}|"></div>
        <div th:text="|role : ${role}|"></div>
        <div>
            <img th:src="${profileImage}" alt="Profile Image" />
        </div>
    </div>
</div>
</body>
</html>
